<div class="container">
    <div class="row">
        <mat-card class="col-xl-6 col-xl-offset-9">
            <mat-card-header>
                <h3>Subjects</h3>
                <button mat-mini-fab color="primary" (click)="add()"><mat-icon title="Add Subject">add</mat-icon></button>
            </mat-card-header>
            <mat-card-content>
                <mat-table #table [dataSource]="dataSource">

                    <ng-container matColumnDef="name">
                        <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
                        <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="code">
                        <mat-header-cell *matHeaderCellDef> code </mat-header-cell>
                        <mat-cell *matCellDef="let element"> {{element.code}} </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="action">
                        <mat-header-cell *matHeaderCellDef></mat-header-cell>
                        <mat-cell *matCellDef="let element">
                            <a (click)="edit(element.id)">
                                <mat-icon title="Edit Subject" style="color:blue">edit</mat-icon>
                            </a>
                            <a class="col-lg-1" (click)="delete(element.id)">
                                <mat-icon title="Delete Subject" style="color:red">delete_forever</mat-icon>
                            </a>
                        </mat-cell>
                    </ng-container>

                    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
                </mat-table>
            </mat-card-content>

        </mat-card>
    </div>
</div>